name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Greeting
        run: echo "Hello, world!"

      - name: Another greeting
        run: echo "Hello, world!"
   
  log-variable:
    runs-on: ubuntu-latest
    
    steps:
    
      - uses: actions/checkout@v2
      
      - name: Set variable
        id: set-variable
        run: |
          if [ -f "index.json" ] 
            then
              full_report=""
              jq -c '.results[].suites[]' index.json | while read -r i; do
                  title=$(echo "$i" | jq '.tests[].title')
                  file=$(echo "$i" | jq '.fullFile')
                  message=$(echo "$i" | jq '.tests[].err.message')
                  report="TEST: $title FILE: $file MESSAGE: $message"
                  full_report+="$report"
                  echo "FULL REPORT: $full_report"
                  echo "::set-output name=fail_report::"${full_report}""
              done
            else
              echo "No failed"
          fi
        
      
      - name: Log variable
        id: log-variable
        run: |
          echo `WTHHTHTHTHTHHTTHTHHHTHTH!`
        
          full_report="${{ steps.set-variable.outputs.fail_report }}"
          echo "$full_report"
        
    
    
      

